body {
  background-color: #ffc0cb52;
  color: #673ab7d6;
  font-family: revert-laye;
}

 h1  {
	color: #cb084a;
	font-family: fangsong;

 }
 h2  {
	color: #910fa7;
	font-family: revert-laye;
 }
 a {
   text-decoration: none;
   color:#cb084a;
 }
 a:hover {
 	color: red;
 }
 /* Custom design with class (99% of your design) */

.container {
  width: 100px;
  margin: 30px auto;
} 

@media (max-width: 1500px){
	.container {
		width: 900px;
	}
}

@media (max-width: 900px){
	.container {
		width: 400px;
	}
}

	
.card-pink {
	background-color: pink;
	padding: 20px;
	box-shadow: 7px 7px 7px blue;
	border-radius: 60px; 
	text-align: center;
}

.img-circle {
	border-radius: 120px;
}
.btn-red {
	background-color: pink;
	color: red;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-red:hover {
	background-color: red;
	color: white;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
	color: blue;
}
.list-inline i:hover { 
	color: red;
}

/* Design adjustments using id (1% design remaining) */
#introduction p {
	margin-bottom: 40px;
}
